.toolbar {
    display: inline-block
}

@import "../../../node_modules/react-day-picker/lib/style.css";

.DayPickerInput-Overlay {
    background-color: #AED6F1 ;
    color: black
  }

  .DayPicker-Weekday {
    color: black;
  }

  .DayPicker-Day--outside {
    color: #797D7F
  }
